@media (max-width: 1811px) {
    .container {
        width: 1280px;
    }
    #logo {
        margin-left: 0;
    }
    #community {
        margin-left: 0;
    }
    #roadmap {
        margin-left: 0;
    }
    #white-paper {
        margin-left: 0;
    }
    #how-to-play {
        margin-left: 0;
    }
    #about {
        margin-left: 0;
    }
    #more {
        margin-left: 0;
    }
    .menu {
        &__button {
            margin-left: 0;
        }
        &__wrapper {
            justify-content: space-between;
        }
    }
    .group {
        &_first {
            display: none;
        }
        &_second {
            display: none;
        }
        &_third {
            display: none;
        }
        &_fourth {
            display: none;
        }
    }

    .adventures {
        &__img {
            display: none;
        }
        &__descr {
            &-num {
                display: none;
            }
            &-oval {
                display: none;
            }
        }
    }
    .collections {
        &__first {
            display: none;
        }
        &__second {
            display: none;
        }
        &__title {
            font-size: 195px;
        }
    }
    .team {
        &__item {
            margin-left: 0;
        }
        &__wrapper {
            justify-content: space-between;
        }
    }
    .second {
        margin-left: 0;
    }
    .adventure {
        margin-left: 0;
    }
    .adventures {
        &__text {
            div {
                font-size: 160px;
            }
        }
    }
}

@media (max-width: 1310px) {
    .container {
        width: 992px;
    }
    .adventures {
        &__block {
            &-first {
                margin-left: 0;
            }
            &-second {
                margin-left: 0;
            }
        }
        &__descr {
            justify-content: space-between;
            &_white {
                font-size: 25px;
            }
        }
    }
    .collections {
        &__title {
            font-size: 135px;
        }
    }
    .bepart {
        margin-left: 0;
        text-align: center;
    }
    .ofan {
        margin-left: 0;
        text-align: center;
    }
    .impressive {
        margin-left: 0;
        text-align: center;
    }
    .travel {
        margin-left: 0;
        text-align: center;
    }
    .adventure {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 1030px) {
    .container {
        width: 768px;
    }
    .collections {
        &__title {
            font-size: 115px;
        }
    }
    #logo {
        display: none;
    }
    #roadmap {
        display: none;
    }
    #more {
        display: none;
    }
    .adventures {
        &__text {
            div {
                font-size: 130px;
            }
        }
        &__descr {
            &_white {
                font-size: 22px;
            }
            &_mini {
                font-size: 14px;
            }
            &_blue {
                font-size: 23px;
            }
        }
        &__block {
            &-first {
                margin-top: 0;
            }
            &-second {
                margin-top: 0;
            }
        }
    }
    .team {
        &__round {
            width: 50px;
            height: 50px;
        }
    }

@media (max-width: 789px) {
    .container {
        width: 650px;
    }
    .adventures {
        &__text {
            div {
                font-size: 110px;
            }
        }
        &__descr {
            justify-content: space-around;
            &_white {
                display: none;
            }
            &_mini {
                line-height: unset;
                margin-top: 10px;
            }
        }
    }
    .collections {
        &__title {
            font-size: 100px;
        }
        &__text {
            &_big {
                font-size: 40px;
            }
            &_reg {
                font-size: 15px;
            }
        }
    }
    .team {
        &__title {
            font-size: 70px;
        }
        &__name {
            font-size: 22px;
        }
        &__round {
            display: none;
        }
        &__item {
            &-name {
                font-size: 22px;
            }
        }
    }
    @media (max-width: 676px) {
        .container {
            width: 550px;
        }
        .menu {
            &__button {
                display: none;
            }
        }
        .adventures {
            &__text {
                div {
                    font-size: 90px;
                }
            }
        }
        .collections {
            &__title {
                font-size: 80px;
            }
        }
    }
}

}

@media (max-width: 676px) {
    .container {
        width: 320px;
    }
    .menu {
        &__item {
            font-size: 10px;
        }
    }
    .adventures {
        &__text {
            div {
                font-size: 45px;
                letter-spacing: 0.5px;
            }
        }
    }
    hr {
        margin-top: 0;
    }
    .collections {
        &__title {
            font-size: 45px;
        }
        &__text {
            &_reg {
                line-height: unset;
            }
            &_big {
                line-height: unset;
            }
        }
    }
    .team {
        &__title {
            font-size: 50px;
            text-align: center;
        }
        hr {
            margin-top: 0;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
    .second {
        margin-left: -15px;
    }
    
}